// 主页 banner

.hero-name {
  color: #89d5f3 !important;
  text-shadow: 0 0 2px rgba(239, 245, 248, 0.938),
              0 0 2px rgba(212, 228, 248, 0.349),
              0 0 3px rgb(4, 13, 17);
}
.hero-tagline {
  color: #84bdd8!important;
  text-shadow: 0 0 1px rgb(98, 136, 182),
              0 0 2px rgb(0, 0, 0),
              0 0 2px rgb(32, 51, 61);
}
.hero-text {
  color: #87aebd !important;
  text-shadow: 0 0 1px rgb(0, 135, 245),
              0 0 2px rgb(24, 123, 204),
              0 0 2px rgb(0, 0, 0);
}
